body{
  display: block;
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  margin: 0;
  padding: 0;
  text-align: center;
}
a{
  display: flex;
  color: white;
  text-decoration: underline;
}



/* BANNER */

.banner{
  border: 5px solid cyan;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  /*border-bottom: 2px solid white;*/
}

.select{
  border: 5px solid red;
  display: block;
  margin: 0 15px;

}
.logo1{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border: 5px solid yellow;
}
.menutop{
  border: 5px solid orange;
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.test{
  border: 5px solid yellow;
  width: 1200px;
  height: 700px;
  margin: 0 auto;
  z-index: -2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('../Resources/Pictures/img-mission-background.jpg')
}

.mission{
  width:1200px;
  border: 10px solid red;
  z-index: 3;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
}
.img{
  display: flex;
  width: 1000px;
  justify-content: space-around;
  margin: 0 auto;
  border: 3px solid yellow;
}
.img2{
  display: flex;
  width: 669px;
  justify-content: space-around;
  margin: 0 auto;
  border: 3px solid yellow;
}
.locations{
  border: 5px solid yellow;
  width: 1200px;
  height: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 70px;
  background-image: url('../Resources/Pictures/img-locations-background.jpg')
}
.localgroup{
  display: flex;
  width: 1200px;
  border: 5px solid red;
  align-items: center;
  justify-content: center;
}
.location{
  margin: 5px 20px;
  background-color: black;
  width: 300px;
}
.footer{
  height: 200px;
  border: 5px solid blue;
}
.tm{
  text-align: left;
  margin-left: 20px;
}
