body{
  display: block;
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  margin: 0;
  padding: 0;
  text-align: center;
}
a{
  display: flex;
  color: white;
  text-decoration: underline;
}
h2, h3, h4{
  margin: 0;
}
/* BANNER */

.banner{
  display: flex;
  z-index: 1;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  position: fixed;
  margin-top: 0;
  background-color: black;
  border-bottom: 1px solid white;
}

.logo1{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.menutop{
  width: 500px;
  display: flex;
  margin-right: 10px;
  flex-direction: row;
  justify-content: space-between;
}
.test{
  width: 1200px;
  height: 700px;
  margin-top: 70px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('../Resources/Pictures/img-mission-background.jpg')
}

.mission{
  width:1200px;
  display: flex;
  height: 100px;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
}
.Tea{
  margin-top: 30px;
  height: 100px;
  display: flex;
  flex-direction: column;
justify-content: space-around;

}
.img{
  display: flex;
  width: 1000px;
  margin: 5px auto;
  padding: 5px;
  justify-content: space-around;
  margin: 0 auto;
}
.img2{
  display: flex;
  width: 669px;
  justify-content: space-around;
  padding: 5px auto;
  margin: 5px auto;
}
.locations{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 70px;
  background-image: url('../Resources/Pictures/img-locations-background.jpg')
}
.localgroup{
  display: flex;
  width: 1200px;
  align-items: center;
  justify-content: center;
}
.location{
  margin: 0px 20px;
  background-color: black;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.footer{
  height: 200px;
  margin: 20px auto;
}
.tm{
  text-align: left;
  margin-left: 20px;
}
